<div id="divTableUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" title="属性">
    <form id="frmTableUser">
        <!-- <span>
            <input class="tkey" type="checkbox" value="位置">
            <label class="tlkey">位置</label>
        </span>
        <span>
            <input class="tkey" type="checkbox" value="位置">
            <label class="tlkey">位置</label>
        </span> -->
    </form>

</div>

<div id="divTableRename" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" title="属性">
    <form id="frmTableRename">
        <label>名称：</label>
        <input type="text" class="form-control editName" style="height: 20px;width:70%;display: inline-block;" />
    </form>
</div>


<div id="divSpecial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" title="属性">
    <form id="frmSpecial">
        <div style="margin-bottom:10px"><button class="btn btn-primary" id="specialImport">导出</button></div>
        <table class="table table-hover table-striped table-bordered" width="100%" cellpadding="0" cellspacing="0"
            border="0" id="specialTable">
            <thead>
                <tr class="tops">
                    <th style="" data-i18n="customer.name">档案号</th>
                    <th width="90px" data-i18n="customer.cust_type">姓名</th>
                    <th width="90px" data-i18n="customer.contact">身份证</th>
                    <th width="90px" data-i18n="customer.contact">状态</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
</div>